.cache
.idea
.qtcreator
.wix
.mimocode
.trae
build
build-release
package.bat
build-release-arm64-v8a
build-debug-x86_64
*.ini
*.log
player/3rdparty/lunasvg-3.5.0
multimedia/sdk
multimedia/src/3rdparty/ffmpeg
multimedia/src/3rdparty/portaudio-19.7.0
doc
docs
package